aniso8601==8.0.0
attrs==20.2.0
click==7.1.2
dnspython==2.0.0
Flask==1.1.2
Flask-Cors==3.0.9
Flask-JWT-Extended==3.24.1
flask-mongoengine==0.9.5
flask-restplus==0.13.0
Flask-WTF==0.13
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
mongoengine==0.20.0
numpy==1.19.4
pandas==1.1.4
PyJWT==1.7.1
pymongo==3.11.0
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
six==1.15.0
Werkzeug==0.16.0
WTForms==2.3.3
